<div class="page">
  {{#each (take 1 (filter-by "endUsers" (action notRespondedByCurrentUser) model)) as |recipe|}}
    {{#liquid-bind recipe use="crossFade" as |liquidRecipe|}}
      {{tinder-card swipeLeft=(action makeResponse false liquidRecipe) swipeRight=(action makeResponse true liquidRecipe) recipe=liquidRecipe}}

      <main class="home-content">
        <button class="home-content__btn" {{action makeResponse false liquidRecipe}}>
          <i class="fa fa-times-circle fa-4x" aria-hidden="true"></i>
        </button>
        <button class="home-content__btn" {{action makeResponse true liquidRecipe}}>
          <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
        </button>
      </main>
    {{/liquid-bind}}
  {{/each}}
</div>
