.add-new-recipe-text {

  max-width: 100%;
  text-align: center;
}

.add-new-recipe {
  display: flex;
  justify-content: space-between;

  margin-top: $spacing * 2;

  &__cancel {
    align-self: center;

    width: 7rem;

    margin: $spacing;
    padding: $spacing * 1.5;

    border-radius: 0.2rem;
    background: $brand-primary;

    color: $brand-secondary;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
  }
}

.add-recipe-container {
  max-width: $max-content-width;
  margin: auto;
}

.register-form__button {
  width: 8.13rem;
  margin: $spacing;
  padding: $spacing * 1.5;
  font-size: 1.5rem;
}

td {
  margin: $spacing;
}
