.app-instantiation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: $max-content-width;

  margin: auto;

  &__link {
    align-self: center;

    min-width: 50%;

    margin-top: 2.5rem;
    padding: $gutter * 2;

    border-radius: 0.4rem;

    background: $brand-primary;
    color: $brand-secondary;

    font-family: 'Leckerli One', Helvetica, sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
    text-align: center;

    &:first-of-type {
      margin-top: 20%;
    }
  }
}
