.app-instantiation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: $max-content-width;

  margin: auto;

  &__link {
    align-self: center;

    min-width: 50%;

    margin-top: 2.5rem;
    padding: $spacing * 2;

    border-radius: 0.4rem;

    background: $brand-primary;
    color: $brand-secondary;

    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2rem;
    // text-shadow: 2px 2px 0px $brand-white, 4px 4px 8px darken($brand-offset, 5%);
    text-align: center;

    &:first-of-type {
      margin-top: 10%;
    }
  }
}
