body {
  margin: 0;

  // background: darken($brand-white, 1%);
  color: $brand-offset;

  font-family: sans-serif;
  font-weight: lighter;
}

input {
}

::-webkit-input-placeholder {
  color: $brand-offset;
}

a {
  color: $brand-primary;
  text-decoration: none;

  // &:visited {
  //   color: darken($brand-primary, 10%);
  // }
}

link {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
