body {
  margin: 0;

  background: darken($brand-white, 1%);

  font-family: sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

link {
  text-decoration: none;
}

button {
  outline: none;
}
