.dashboard-nav-container {
  // border-bottom: 0.5rem solid $brand-secondary;
  background: $brand-primary;
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;

  max-width: $max-content-width;

  margin: auto;

  &__greeting {
    margin: $gutter 0;
    padding: $gutter * 1.5;
    color: $brand-secondary;

    font: 400 1.7rem 'Leckerli One', Helvetica, sans-serif;
    color: $brand-secondary;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
  }

  &__hamburger {
    padding: $gutter * 1.5;

    border: 0;
    background: transparent;
    color: $brand-secondary;

    font: 'Leckerli One', Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
  }
}
