.outer-index-container {
  width: 100%;
}

.inner-index-container {
  display: flex;
  flex-direction: column;

  max-width: $max-content-width;
  margin: auto;
}

.recipes-detail-image {
  margin: $gutter;
}

.current-model__name {
  font-size: 2rem;
  text-align: center;
}

.index-image {
  max-width: 70%;
  margin: $spacing;
  border: 0.2rem solid $brand-primary;
  border-radius: $border-radius;

  &__pic {
    width: 100%;
    border-radius: $border-radius;
  }
}

.index-row {
  display: flex;
  flex-direction: column;

  max-width: 100%;

  &__title-container {
    display: flex;
    justify-content: space-between;

    max-width: 20%;
  }

  &__title {
    display: flex;

    margin: $gutter;

    font-size: 2rem;
  }

  &__btn {
    align-self: center;

    background: transparent;
    color: $brand-offset;

    font-size: 2rem;

    &:hover {
      color: $brand-secondary;
      cursor: pointer;
    }

    &__pencil:hover {
      color: $brand-secondary;
      cursor: pointer;
    }

    &__circle:hover {
      color: $brand-secondary;
      cursor: pointer;
    }
  }

  &__ul {
    display: flex;
    flex-direction: column;

    max-width: 20rem;

    margin: $gutter;
    padding: 0;
  }

  &__li {
    display: flex;
    justify-content: space-between;

    margin: $spacing;
    // padding: $gutter;
  }
}
