.home-outer-container {
  width: 100%;

  margin: auto;
}

.home-navbar-container {
  max-width: 100%;

  background: $brand-primary;
  color: $brand-secondary;

  font-family: Ubuntu Condensed, sans-serif;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
}

.home-navbar {
  display: flex;
  flex-direction: row;

  max-width: $max-content-width;

  margin: auto;
  padding: $gutter * 2;

  &__back {
    align-self: center;

    margin: 0;
    padding: 0;
  }

  &__name {
    width: 100%;

    margin: 0;
    padding: $gutter;

    text-align: center;
  }
}

.home-inner-container {
  display: flex;
  flex-direction: column;

  max-width: $max-content-width;

  margin: auto;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: $gutter * 2;


  &__avatar {
    max-width: $max-content-width;
    height: 70vh;

    overflow: hidden;

    &__img {
      width: 100%;

      margin: auto;

      box-shadow: 0.2rem 0.2rem 1rem darken($brand-offset, 35%);
    }
  }
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin: $gutter * 4;

  &__btn {

  }


  &__edit {
    max-width: 70%;

    margin: $gutter * 2 auto;

    border: 0;

    background: $brand-white;
    color: $brand-offset;

    font: 400 2rem 'Ubuntu Condensed', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);

    &:hover {
      cursor: pointer;
    }
  }
}

.logout {
  color: $brand-offset;
}
