
$gutter: 0.4rem;
$max-content-width: 60rem;
$border-radius: 0.4rem;

$primary: "red" !default;
$brand-primary: #fff;
$brand-secondary: #DE5432;
$brand-offset: #4C483E;
$brand-white: #fff;
$brand-black: #000;
