$gutter: 1rem;
$spacing: 0.4rem;
$max-content-width: 60rem;
$border-radius: 0.4rem;

$primary: "red" !default;
$brand-primary: #fff;
$brand-secondary: #de5432;
$brand-success: #049162;
$brand-offset: lighten(#4c484e, 5%);
$brand-white: #fff;
$brand-black: #000;
$awesome: 0 2px 12px 0 rgba(0,0,0,0.46), 0 14px 22px 0 rgba(0,0,0,0.12);
$less-awesome: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
