<div class="headline-text-container">
  <div class="headline-text">
    <h1 class="solefood add-new-recipe-text">Add New Recipe</h1>
  </div>
</div>

<div class="add-recipe-outer-container">
  <div class="add-recipe-container">

    {{#simple-form onsubmit=(action addRecipe) as |formValues|}}
      {{paper-input class="register-form__input" label="Recipe Name" value=formValues.name}}
      {{paper-input class="register-form__input" label="Enter an Image Url" value=formValues.image}}

      <div class="add-new-recipe">
        {{#link-to "dashboard.recipes.index" class="solefood add-new-recipe__cancel"}}Cancel{{/link-to}}

        <button class="register-form__button">Save</button>
      </div>
    {{/simple-form}}

  </div>
</div>
