{{outlet}}
<div class="profile-outer-container">
  <div class="profile-navbar-container">
    <nav class="profile-navbar">
      {{!-- <button class="fa fa-arrow-left profile-navbar__back"></button> --}}
      <h3 class="profile-navbar__name">Whittenburry</h3>
    </nav>
  </div>
  <div class="profile-inner-container">
    <header class="profile-header">
      <div class="profile-header__avatar">
        <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/1888489_10152566395075496_5972072471692415365_n.jpg?oh=e65cf31177607795c831518e03ba229c&oe=57E3055E" alt="" class="profile-header__avatar__img">
      </div>
    </header>
    <main class="profile-content">
      <button class="profile-content__edit">Edit Profile</button>
      <button class="profile-content__edit">Preferences</button>
      <button class="profile-content__edit">{{#link-to 'logout' class="logout"}}Logout{{/link-to}}</button>
    </main>
  </div>
</div>
