{{outlet}}
<div class="profile-outer-container">
  <div class="profile-navbar-container">
    <nav class="profile-navbar">
      {{!-- <button class="fa fa-arrow-left profile-navbar__back"></button> --}}
      <h3 class="profile-navbar__name">Bill Murray</h3>
    </nav>
  </div>
  <div class="profile-inner-container">
    <header class="profile-header">
      <div class="profile-header__avatar">
        <img src="http://fillmurray.com/700/700" alt="" class="profile-header__avatar__img">
      </div>
    </header>
    <main class="profile-content">
      <button class="profile-content__edit">Edit Profile</button>
      <button class="profile-content__edit">Edit Preferences</button>
    </main>
  </div>
</div>
