{{outlet}}
{{!-- <div class="register-header">
  <h1 class="solefood">SoleFood</h1>
</div> --}}

<div class="register-header">
  <p class="solefood-logo"><img src="images/SoleFoodLogoFINAL.png" alt="SoleFoodLogo"></p>
</div>

<div class="register-outer-container">
  <form {{action login email password on="submit"}} class="register-form">
    {{paper-input class="register-form__input" label="E-mail" type="email" value=email}}
    {{paper-input class="register-form__input" label="Password" type="password" value=password}}

    <button class="register-form__button">Login</button>
  </form>

  <div class="already-registered">
    <h5 class="already-registered__text">Not Registered?</h5>
    {{#link-to 'register'}}<h5 class="already-registered__click-here">Sign-up</h5>{{/link-to}}
  </div>
</div>
