<h1 class="solefood add-new-recipe-text">Edit Instruction</h1>

<div class="add-recipe-container">

  {{#simple-form startingValues=model onsubmit=(action updateInstruction model) as |formValues|}}
    {{paper-input class="register-form__input" label="description" value=formValues.description}}

    <div class="add-new-recipe">
      {{#link-to "dashboard.recipes.detail.index" class="add-new-recipe__cancel" }}Cancel{{/link-to}}

      <button class="register-form__button">Save</button>
    </div>
  {{/simple-form}}

</div>
