<div class="page">
  <h1 class="solefood">My Recipes</h1>

  {{#each (filter-by "liked" true model.responses) as |response|}}
    {{recipe-card recipe=response.recipe}}
  {{/each}}

  {{outlet}}
</div>
