{{!-- <div class="dashboard-nav-container">
  <div class="dashboard-nav">
    <button class="fa fa-bars dashboard-nav__hamburger"></button>
    <h2 class="dashboard-nav__greeting">Whittenburry</h2>
  </div>
</div> --}}


{{outlet}}

  <div class="home-inner-container">
    {{#each model as |recipe|}}
    <header class="home-header">
      {{#link-to "dashboard.recipes" class="home-header__avatar"}}
        <img src="{{recipe.image}}" alt="" class="home-header__avatar__img">
        <h3 class="solefood">{{recipe.name}}</h3>
      {{/link-to}}
    </header>
    <main class="home-content">
      <a class="home-content__btn" href="#">
        <i class="fa fa-times-circle fa-4x" aria-hidden="true"></i></a>
      <a class="home-content__btn" href="#">
        <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i></a>
    </main>
    {{/each}}
  </div>
