{{!-- <div class="dashboard-nav-container">
  <div class="dashboard-nav">
    <button class="fa fa-bars dashboard-nav__hamburger"></button>
    <h2 class="dashboard-nav__greeting">Whittenburry</h2>
  </div>
</div> --}}



{{outlet}}

  <div class="home-inner-container">
    <header class="home-header">
      <div class="home-header__avatar">
        <img src="http://d34io81wmtnl2l.cloudfront.net/wp-content/uploads/2016/03/roasted-veggies-26-of-45.jpg" alt="" class="home-header__avatar__img">
      </div>
    </header>
    <main class="home-content">
      <button class="home-content__edit">PLACEHOLDER</button>
      <button class="home-content__edit">PLACEHOLDER</button>
    </main>
  </div>
