
<h1 class="solefood add-new-recipe-text">Edit Ingredient</h1>

<div class="add-recipe-container">

  {{#simple-form startingValues=model onsubmit=(action updateIngredient model) as |formValues|}}
    {{paper-input class="register-form__input" label="Enter Name" value=formValues.name}}

    <div class="add-new-recipe">
      {{#link-to "dashboard.recipes.index" class="add-new-recipe__cancel"}}Cancel{{/link-to}}

      <button class="register-form__button">Save</button>
    </div>
  {{/simple-form}}

</div>
