<div class="register-header">
  <p><img src="images/SoleFoodLogo.jpg" alt="SoleFoodLogo"></p>
</div>

<div class="app-instantiation">
  {{#link-to 'register' class="app-instantiation__link"}}Sign-Up{{/link-to}}
  {{#link-to 'login' class="app-instantiation__link"}}Login{{/link-to}}
</div>
