<div class="dashboard-nav-container">
  <div class="dashboard-nav">
    <button class="fa fa-bars dashboard-nav__hamburger"></button>
    <h2 class="dashboard-nav__greeting">Hello, {{model.first-name}}</h2>
  </div>
</div>

{{outlet}}
