<div class="dashboard-nav-container">
  <div class="dashboard-nav">
    <button {{action toggle on="click"}} class="fa fa-bars dashboard-nav__hamburger"></button>
    <div class="menu-container">
      <ul class="dashboard-menu">
        <li class="dashboard-menu__list-item solefood">Add New Recipe</li>
        <li class="dashboard-menu__list-item solefood">Profile</li>
        <li class="dashboard-menu__list-item solefood">Discover</li>
        <li class="dashboard-menu__list-item solefood">Logout</li>
      </ul>
    </div>
    <h2 class="dashboard-nav__greeting">Hello, {{model.first-name}}</h2>
  </div>
</div>

{{outlet}}
