<div class="dashboard-nav-container">
  <div class="dashboard-nav">
    <button class="fa fa-bars dashboard-nav__hamburger"></button>
    {{!-- <div class="menu-container">
      <ul class="menu">
        <li class="menu__list-item">Add New Recipe</li>
        <li class="menu__list-item">Profile</li>
        <li class="menu__list-item">Discover</li>
        <li class="menu__list-item">Logout</li>
      </ul>
    </div> --}}
    <h2 class="dashboard-nav__greeting">Hello, {{model.first-name}}</h2>
  </div>
</div>

{{outlet}}
