{{#link-to "dashboard.home.preview" recipe.id class="img-frame"}}
  <img src="{{recipe.image}}" alt="" class="home-header__avatar__img">
  <h3 class="img-frame__text">{{recipe.name}}</h3>
{{/link-to}}
